<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <!-- gwpAsanMode enables GWP-ASan, Android's sampled native memory-error detector
         (Android 11+, ignored on older devices). When it catches a heap error in the
         native SDK layer, the crash report carries allocation and deallocation
         stack traces, which reach whatever crash reporter the app installs. -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.EasyScan"
        android:supportsRtl="true"
        android:name=".EasyScanApp"
        android:gwpAsanMode="always"
        >

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EasyScan"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="uiMode"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

        <provider
            android:name=".ui.main.EasyScanFileProvider"
            android:authorities="${applicationId}.share.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_provider_paths" />
        </provider>
    </application>

</manifest>